@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .hero {
    gap: 4.8rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }
}
@media (max-width: 59em) {
  html {
    font-size: 56.25%;
  }
  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }
  .hero-img {
    width: 60%;
  }
  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }
  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }
  .logos img {
    height: 2.4rem;
  }
  .step-number {
    font-size: 7.2rem;
  }
  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }
  .section-testimonials {
    grid-template-columns: 1fr;
  }
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  .section-cta {
    padding: 2.8rem 0 10.5rem 0;
  }
  .cta {
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
  .btn-form {
    margin-top: 1.2rem;
  }
  .btn-mobile {
    display: block;
  }
  .main-nav {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.4s;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
  .open-nav .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .open-nav .icon-mobile[name="close-outline"] {
    display: block;
  }
  .open-nav .icon-mobile[name="menu-outline"] {
    display: none;
  }
}
@media (max-width: 44em) {
  .grid-2c,
  .grid-3c {
    grid-template-columns: repeat(2, 1fr);
  }
  .diet {
    grid-column: 1/-1;
    justify-self: center;
  }
  .heading-secondary {
    margin-bottom: 4.8rem;
  }
  .pricing-plan {
    width: 100%;
  }
  .grid-footer{
    grid-template-columns: repeat(6 1fr);
  }
  .nav-column{
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
  .logo-column,
  .address{
    grid-column: span 3;
  }
}
@media (max-width: 34em){
  .grid {
    row-gap: 4.8rem;
  }

  .grid-2c,
  .grid--3c,
  .grid--4c {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 80%;
  }

  .logos img {
    height: 1.2rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-text-box {
    padding: 3.2rem;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }
}