@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  70% {
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  70% {
    transform: translateX(-1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}