@import "../abstracts/variables";
@import "../abstracts/mixins";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: $grey-color;
  padding: 3rem;
  box-sizing: border-box;
  @include respond(tab-port) {
    padding: 0;
  }
}
::selection{
  color: $white-color;
  background-color: $primary-color;
}
