.heading-primary {
  color: $white-color;
  text-transform: uppercase;
  text-align: center;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  &-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    margin-bottom: 2rem;
    animation-name: moveLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    @include respond(phone) {
      font-size: 5rem;
      letter-spacing: 1rem;
    }
  }
  &-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}
.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 4rem;
  background-image: linear-gradient(
    to right,
    $primary-color-light,
    $primary-color-dark
  );
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
  &:hover {
    text-shadow: 0.5rem 1rem 2rem rgba($black-color, 0.2);
    transform: skewY(2deg) skewX(15deg) scale(1.1);
  }
  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
  }
}
.heading-tertiary {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
}
.paragraph {
  font-size: 1.6rem;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
