.logo {
  height: 3.25rem;
  margin-left: 2rem;
}
.search {
  // background-color: red;
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
  }
  @media only screen and (max-width: $bp-smallest) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }
  &-input {
    font-style: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    background-color: var(--color-grey-light-2);
    padding: 0.7rem 2rem;
    border-radius: 100px;
    width: 90%;
    margin-right: -3.25rem;
    transition: all 0.5s;
    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);
    }
    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }
  &-button {
    border: none;
    background-color: var(--color-grey-light-2);
    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(-2px);
    }
  }
  &-input:focus + &-button {
    background-color: var(--color-grey-light-3);
  }
}
.user-nav {
  //   background-color: green;
  display: flex;
  align-items: center;
  align-self: stretch;

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }
  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &-icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }
  &-icon-box {
    position: relative;
  }
  &-notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}
.copyright {
  font-size: 1.2rem;
  padding: 2.5rem;
  text-align: center;
  color: var(--color-grey-dark-3);
  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}
.side-nav {
  font-size: 1.4rem;
  margin-top: 3.5rem;
  list-style: none;
  &-icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: currentColor;
    margin-right: 2rem;
    @media only screen and (max-width: $bp-small) {
      margin-right: 0;
      margin-bottom: 0.7rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  &-link:link,
  &-link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    @media only screen and (max-width: $bp-medium) {
      justify-content: center;
      padding: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      padding: 1.5rem 0.5rem;
    }
  }
  &-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
      background-color 0.2s;
  }
  &-item:hover::before,
  &-item-active::before {
    transform: scaleY(1);
    width: 100%;
  }
  &-item:active::before {
    background-color: var(--color-primary-light);
  }
  &-item {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
      @media only screen and (max-width: $bp-medium) {
        margin: 0;
      }
    }
    @media only screen and (max-width: $bp-medium) {
      flex: 1;
    }
  }
  @media only screen and (max-width: $bp-medium) {
    display: flex;
    margin: 0;
  }
}
.gallery {
  display: flex;
  &-photo {
    width: 100%;
    display: block;
  }
}
.overview {
  display: flex;
  // justify-content: space-between;
  border-bottom: 2px solid var(--color-grey-light-2);
  align-items: center;
  &-heading {
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }
  }
  &-stars {
    margin-right: auto;
    display: flex;
  }
  &-icon-star,
  &-icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }
  &-icon-location {
    margin-right: 0.5rem;
  }
  &-location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }
  &-rating {
    background-color: var(--color-primary);
    padding: 0 2.25rem;
    color: #fff;
    margin-left: 3rem;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: $bp-small) {
      padding: 0 1.5rem;
    }
  }
  &-rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    @media only screen and (max-width: $bp-small) {
      font-size: 1.8rem;
    }
  }
  &-rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-bottom: -3px;
    @media only screen and (max-width: $bp-small) {
      font-size: 0.5rem;
    }
  }
}
.btn-inline {
  border: none;
  font-size: inherit;
  display: inline-block;
  padding-bottom: 2px;
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  & span {
    margin-left: 3px;
    transition: margin-left 0.3s;
  }
  &:hover {
    color: var(--color-grey-dark-1);
    span {
      margin-left: 8px;
    }
  }
  &:focus {
    outline: none;
    animation: pulse 1s infinite;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}
.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 2px solid var(--color-grey-light-2);
  border-bottom: 2px solid var(--color-grey-light-2);
  display: flex;
  flex-wrap: wrap;
  &-item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
  }
  &-item::before {
    content: "";
    display: inline-block;
    background-color: var(--color-primary);
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;
    mask-image: url(../img/chevron-thin-right.svg);
    mask-size: cover;
  }
}
.recommend {
  display: flex;
  align-items: center;
  box-sizing: content-box;
  font-size: 1.3rem;
  color: var(--color-grey-dark-1);
  &-photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid #fff;
    &:not(:last-child) {
      margin-right: -1.75rem;
    }
  }
  &-count {
    margin-right: auto;
  }
}
.review {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.25);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;
  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-bottom: 3rem;
  }
  &-text {
    margin-bottom: 2rem;
    z-index: 10;
    position: relative;
  }
  &-user {
    display: flex;
    align-items: center;
  }
  &-photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }
  &-user-box {
    margin-right: auto;
  }
  &-user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }
  &-user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
  }
  &-rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300;
  }
  &::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    line-height: 1;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    z-index: 1;
  }
}
.cta {
  padding: 3.5rem 0;
  text-align: center;
  margin: auto;
  @media only screen and (max-width: $bp-medium) {
    padding: 2.5rem 0;
  }
  &-book-now {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    font-weight: 300;
  }
}
.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  color: #fff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.2s;
  }
  &-visible {
    padding: 2rem 7.5rem;
  }

  &-invisible {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%;
  }
  &:hover {
    background-image: linear-gradient(
      to left,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
  }

  &:hover &-visible {
    transform: translateY(100%);
  }

  &:hover &-invisible {
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
