.footer {
  background-color: #333;
  padding: 15rem 0;
  font-size: 1.6rem;
  @include respond(tab-port) {
    padding: 10rem 0;
  }
  &-logo-box {
    text-align: center;
    margin-bottom: 8rem;
    @include respond(tab-port) {
      margin-bottom: 4rem;
    }
  }
  &-logo {
    width: 20rem;
    height: auto;
  }
  &-item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
  &-link {
    &:link,
    &:visited {
      color: $grey-color;
      text-decoration: none;

      text-transform: uppercase;
      display: inline-block;
      transition: all 0.3s;
    }
    &:hover,
    &:active {
      color: $primary-color;

      transform: rotate(5deg) scale(1.3);
      box-shadow: 0 1rem 2rem rgba($black-color, 0.2);
    }
  }
  &-navigation {
    border-top: 1px solid #eee;
    padding-top: 2rem;
    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }
  &-copyright {
    border-top: 1px solid #eee;
    padding-top: 2rem;
    width: 70%;
    float: right;
    @include respond(tab-port) {
        width: 100%;
        text-align: center;
        float: none ;
    }
  }
}
