.navigation {
  &-checkbox {
    display: none;
  }
  &-button {
    cursor: pointer;
    height: 7rem;
    width: 7rem;
    background-color: $white-color;
    border-radius: 50%;
    z-index: 100;
    position: fixed;
    top: 6rem;
    right: 6rem;
    box-shadow: 0 1rem 2rem rgba($black-color, 0.1);
    text-align: center;
    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }
    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }
  &-background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $primary-color-light,
      $primary-color-dark
    );
    z-index: 50;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }
    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
    // transform: scale(80);
  }
  &-nav {
    height: 100vh;
    // width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 75;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    // visibility: hidden;
  }
  &-list {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  &-item {
    margin: 1rem;
  }
  &-link {
    &:link,
    &:visited {
      font-size: 3rem;
      text-decoration: none;
      text-transform: uppercase;
      color: $white-color;
      padding: 1rem 2rem;
      font-weight: 300;
      display: inline-block;
      background-image: linear-gradient(
        120deg,
        transparent 50%,
        $white-color 50%
      );
      background-size: 225%;
      transition: all 0.4s;
      span {
        margin-right: 1rem;
        display: inline-block;
        font-size: 4rem;
      }
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $primary-color;
      transform: translateX(1rem);
    }
  }
  &-checkbox:checked ~ &-background {
    transform: scale(80);
  }
  &-checkbox:checked ~ &-nav {
    opacity: 1;
    width: 100%;
  }
  &-icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: #444;
      display: inline-block;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }
    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }
  &-button:hover &-icon::before {
    top: -1rem;
  }
  &-button:hover &-icon::after {
    top: 1rem;
  }
  &-checkbox:checked + &-button &-icon {
    background-color: transparent;
  }
  &-checkbox:checked + &-button &-icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &-checkbox:checked + &-button &-icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
