*{
    margin: 0;
    padding: 0;
}

body{
    background-color: green;
    padding: 50px;
}
h1{
    font-family:'Times New Roman';
    font-size: 30px;
    margin-bottom: 50px;
}

.soso{
    color: blueviolet;
    text-align: center;
}
#name{
    background-color: blanchedalmond;
    border: 5px solid #444;
}