/* Challange 1 */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}
.product {
  border: 8px solid black;
  width: 825px;
  margin: 50px auto;
  border-bottom: 0;
  position: relative;
}
.product-title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  background-color: antiquewhite;
  padding: 15px;
}
.product-img {
  float: left;
}

.price {
  font-size: 25px;
  float: left;
}
.container {

}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.describe {
  clear: both;
  font-weight: bold;
  margin-bottom: 10px;
}
.info {
  /* 825-8-250-80 
  width: 243px;
  float: left;
  margin-left: 30px;
  padding-top: 20px;
}
.prodect-info {
  width: 243px;
  float: left;
  margin-left: 30px;
  margin-top: 20px;
}
.shipp {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 15px;
  float: right;
  margin-top: 5px;
}
.link:link,
.link:visited {
  color: black;
  margin-bottom: 20px;
  display: inline-block;
}
.link:hover,
.link:active {
  text-decoration: none;
}
.detail-list {
  list-style: square;
  margin-left: 20px;
}
.detail-list li {
  margin-bottom: 10px;
}
.detail-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}
.btn {
  background-color: black;
  color: #fff;
  font-size: 22px;
  text-transform: 22px;
  border: none;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: 6px solid black;
  border-left: 0;
  border-right: 0;
}
.btn:hover {
  color: #000;
  background-color: #fffb;
}
.color {
  background-color: #000;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 12px;
}
.color-blue {
  background-color: blue;
}
.color-yellow {
  background-color: yellow;
}
.color-green {
  background-color: green;
}
.color-red {
  background-color: red;
}
.color-brown {
  background-color: brown;
}

.sale {
  background-color: red;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 7px 15px;
  position: absolute;
  /* width: 40px; */
/* text-align: center; 
  top: -20px;
  left: -30px;
  letter-spacing: 2px;
}  */
/* Challange 2 */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}
.product {
  border: 8px solid black;
  width: 825px;
  margin: 50px auto;
  border-bottom: 0;
  position: relative;
}
.product-title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  background-color: antiquewhite;
  padding: 15px;
}

.price {
  font-size: 25px;
}

.price-ship {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.container {
  display: flex;
  gap: 40px;
}
.product-img {
  
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.describe {
  font-weight: bold;
  margin-bottom: 10px;
}
.info {
  /* 825-8-250-80 
  flex: 1;
  padding-top: 20px;
}
.prodect-info {
  flex: 1;
  margin-left: 30px;
  margin-top: 20px;
} 
.shipp {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}
.link:link,
.link:visited {
  color: black;
  margin-bottom: 20px;
  display: inline-block;
}
.link:hover,
.link:active {
  text-decoration: none;
}
.detail-list {
  list-style: square;
  margin-left: 20px;
}
.detail-list li {
  margin-bottom: 10px;
}
.detail-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}
.btn {
  background-color: black;
  color: #fff;
  font-size: 22px;
  text-transform: 22px;
  border: none;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: 6px solid black;
  border-left: 0;
  border-right: 0;
}
.btn:hover {
  color: #000;
  background-color: #fffb;
}
.product-color {
  display: flex;
  gap: 10px;
}
.color {
  background-color: #000;
  height: 20px;
  width: 20px;
}
.color-blue {
  background-color: blue;
}
.color-yellow {
  background-color: yellow;
}
.color-green {
  background-color: green;
}
.color-red {
  background-color: red;
}
.color-brown {
  background-color: brown;
}

.sale {
  background-color: red;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 7px 15px;
  position: absolute;
  /* width: 40px; */
/* text-align: center; 
  top: -20px;
  left: -30px;
  letter-spacing: 2px;
} */
/* Challange 3 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product-img {
}

/* PRODUCT */
.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;

  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
}

.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
  grid-column: 1 / -1;
}

/* PRODUCT INFORMATION */
.product-info {
  /*  (825 - 8 - 250 - 80) / 2  */
  /*   width: 243px; */
  flex: 1;
  margin-top: 20px;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.price {
  font-size: 24px;
}

.shipping {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}

.sale {
  background-color: #ec2f2f;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 7px 15px;
  display: inline-block;
  position: absolute;
  top: -17px;
  left: -38px;

  /*   width: 40px;
  text-align: center; */
}

.product-description {
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.product-colors {
  display: flex;
  gap: 10px;
}

.color {
  background-color: #000;
  height: 22px;
  width: 22px;
}

.color-blue {
  background-color: blue;
}
.color-yellow {
  background-color: yellow;
}
.color-green {
  background-color: green;
}
.color-red {
  background-color: red;
}
.color-brown {
  background-color: brown;
}

/* PRODUCT DETAILS */
.product-details {
  /*   width: 243px; */
  margin-top: 20px;
  flex: 1;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.details-list li {
  margin-bottom: 10px;
}

/* BUTTON */
.add-cart {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border-top: 4px solid black;
  grid-column: 1 / -1;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: sans-serif;

  border-top: 10px solid #1098ad;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  /* margin-bottom: 60px; 
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 0;
}

.post-header {
  margin-bottom: 40px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
  margin-left: 0;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

article p:first-child {
  color: red;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}
.post-img {
  width: 100%;
  height: auto;
}

nav a:link {
  margin-right: 30px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  position: relative;
}

h2::before {
  content: "TOP";
  background-color: #ffe70e;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
} */
/* Float */
/* .author-img {
  float: left;
  margin-bottom: 20px;
}
.author {
  float: left;
  margin-top: 10px;
  margin-left: 20px;
}
h1{
  float: left;
}
nav{
  float: right;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
article{
  width: 825px;
  float: left;
}
aside{
  width: 300px;
  float: right;
}
footer{
  clear: both;
} */
/* Flexgrid */
/* .main-header{
  display: flex;
  align-items: center; 
  justify-content: space-between;
  
}
.author-box{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.author{
  margin-bottom: 0;
  margin-left: 15px;
}
.related-post{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.related-link:link{
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 10px;
  display: block;
}
.related-author{
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
.row{
  display: flex;
  align-items: flex-start;
  gap: 60px;
  margin-bottom: 60px;

}
article{
  flex: 1;
  margin-bottom: 10px;
}
aside{
  flex: 0 0 300px;
} */
/* CSS Grid */
/* .main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.author {
  margin-bottom: 0;
  margin-left: 15px;
}
.related-post {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 10px;
  display: block;
}
.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}
.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 60px;
  row-gap: 60px;
  align-items: flex-start;
}
.main-header {
  grid-column: 1 / span 2;
}
article {
}
aside {
}
footer {
  grid-column: 1/-1;
} */
