.card {
  perspective: 150rem;
  height: 50rem;
  position: relative;
  &-side {
    box-shadow: 0 1.5rem 4rem rgba($black-color, 0.15);
    height: 50rem;
    color: $white-color;
    border-radius: 6px;
    transition: all 0.8s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    &-front {
      background-color: $white-color;
      color: black;
    }
    &-back {
      transform: rotateY(180deg);
      &-1 {
        background-image: linear-gradient(
          to right bottom,
          rgba($secondary-color-light, 0.85),
          rgba($secondary-color-dark, 0.85)
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          rgba($primary-color-light, 0.85),
          rgba($primary-color-dark, 0.85)
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          rgba($tertiary-color-light, 0.85),
          rgba($tertiary-color-dark, 0.85)
        );
      }
    }
  }
  &:hover &-side-front {
    transform: rotateY(-180deg);
  }
  &:hover &-side-back {
    transform: rotateY(0);
  }
  &-picture {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    &-1 {
      background-image: linear-gradient(
          to right bottom,
          rgba($secondary-color-light, 0.85),
          rgba($secondary-color-dark, 0.85)
        ),
        url(../img/nat-5.jpg);
    }
    &-2 {
      background-image: linear-gradient(
          to right bottom,
          rgba($primary-color-light, 0.85),
          rgba($primary-color-dark, 0.85)
        ),
        url(../img/nat-6.jpg);
    }
    &-3 {
      background-image: linear-gradient(
          to right bottom,
          rgba($tertiary-color-light, 0.85),
          rgba($tertiary-color-dark, 0.85)
        ),
        url(../img/nat-7.jpg);
    }
  }
  &-heading {
    font-size: 2.8rem;
    // font-weight: 700;
    text-align: right;
    color: $white-color;
    text-transform: uppercase;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%;
  }
  &-heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    &-1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($secondary-color-light, 0.85),
        rgba($secondary-color-dark, 0.85)
      );
    }
    &-2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($primary-color-light, 0.85),
        rgba($primary-color-dark, 0.85)
      );
    }
    &-3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($tertiary-color-light, 0.85),
        rgba($tertiary-color-dark, 0.85)
      );
    }
  }
  &-details {
    padding: 3rem;
    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li {
        text-align: center;
        padding: 1rem;
        font-size: 1.5rem;
        &:not(:last-child) {
          border-bottom: 1px solid #eee;
        }
      }
    }
  }
  &-cta {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    width: 90%;
  }
  &-price-box {
    text-align: center;
    color: $white-color;
    margin-bottom: 8rem;
  }
  &-price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  &-price-value {
    font-size: 6rem;
    font-weight: 300;
  }
  @include respond(tab-port) {
    height: auto;
    border-radius: 3px;
    background-color: $white-color;
    box-shadow: 0 1.5rem 4rem rgba($black-color, 0.15);
    &-side {
      height: auto;
      position: relative;
      box-shadow: none;

      &-back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
      }
    }
    &:hover &-side-front {
      transform: rotateY(0);
    }

    &-details {
      padding: 1rem 3rem;
    }

    &-cta {
      position: relative;
      top: 0%;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }

    &-price-box {
      margin-bottom: 3rem;
    }

    &-price-value {
      font-size: 4rem;
    }
  }
}
