.composition {
  position: relative;
  &-photo {
    width: 50%;
    box-shadow: 0 1.5rem 4rem rgba($black-color, 0.4);
    border-radius: 6px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;
    @include respond(tab-port) {
      position: relative;
      width: 33.3333%;
      box-shadow: 0 1rem 2rem rgba($black-color, 0.4);
      float: left;
    }
    &-p1 {
      top: -2rem;
      left: 0;
      @include respond(tab-port) {
        top: 0;
        transform: scale(1.2);
      }
    }
    &-p2 {
      top: 2rem;
      right: 0;
      @include respond(tab-port) {
        top: 0;
        transform: scale(1.3);
        z-index: 15;
      }
    }
    &-p3 {
      top: 10rem;
      left: 20%;
      @include respond(tab-port) {
        top: 0rem;
        left: 0;
        transform: scale(1.2);
      }
    }
    &:hover {
      outline: 1.5rem solid rgba($primary-color, 0.5);
      box-shadow: 0 2.5rem 4rem rgba($black-color, 0.5);
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 20;
    }
  }
  &:hover &-photo:not(:hover) {
    transform: scale(0.95);
    // filter: blur(1rem);
    // opacity: 0.7;
  }
}
// .composition-photo{

// }
// .composition-photo-p1{

// }
