.feature-box {
  font-size: 1.6rem;
  background-color: rgba($white-color, 0.8);
  text-align: center;
  padding: 2.5rem;
  border-radius: 6px;
  box-shadow: 0 1.5rem 4rem rgba($black-color, 0.15);
  transition: transform 0.3s;
  @include respond(tab-port) {
    padding: 2rem;
  }
  &-icon {
    font-size: 6rem;
    margin-bottom: 1rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      $primary-color-light,
      $primary-color-dark
    );
    -webkit-background-clip: text;
    color: transparent;
    @include respond(tab-port) {
      margin-bottom: 0;
    }
  }
  &:hover {
    transform: translateY(-1.5rem) scale(1.03);
    box-shadow: 0 2.5rem 4.5rem rgba($black-color, 0.2);
  }
}
