.form {
  &-group {
    // margin-bottom: 1.5rem;
  }
  &-input {
    display: block;
    width: 90%;
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    margin-bottom: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 3px;
    border: none;
    background-color: rgba($white-color, 0.5);
    border-bottom: 3px solid transparent;
    transition: all 0.5s;
    @include respond(tab-port) {
      width: 100%
    }
    &::placeholder {
      color: $grey-color;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($black-color, 0.1);
      border-bottom: 3px solid $primary-color;
    }
    &:focus:invalid {
      border-bottom: 3px solid $secondary-color-dark;
    }
  }

  &-label {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    
    display: block;
    transition: all 0.3s;
  }
  &-input:placeholder-shown + &-label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }
  &-radio-group {
    width: 49%;
    display: inline-block;
    margin-bottom: 3rem;
    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
    
  }
  &-radio-label {
    font-size: 1.6rem;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
    
  }
  &-radio-btn {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border: 5px solid $primary-color;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -0.4rem;
    &::after{
        content: "";
        display: block;
        height: 1.4rem;
        width: 1.4rem;
        background-color: $primary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.3s;
    }
  }
    &-radio-input {
        display: none; 
    }
    &-radio-input:checked + &-radio-label &-radio-btn::after {
        opacity: 1;
    }
}
