.popup {
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3000;
  transition: all 0.3s;
  &-content {
    @include centered;
    width: 75%;
    height: 50rem;
    background-color: $white-color;
    border-radius: 6px;
    display: table;
    box-shadow: 0 1.5rem 4rem rgba($black-color, 0.2);
    opacity: 0;
    transform: translate(-50% , -50%) scale(0);
    transition: all 0.5s 0.2s;
  }
  &-img {
    width: 100%;
    display: block;
  }
  &-left {
    width: 33.333%;
    display: table-cell;
  }
  &-right {
    width: 66.666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }
  &-text {
    font-size: 1.6rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    hyphens: auto;
  }
  &:target {
    opacity: 1;
    visibility: visible;
  }
  &-close {
    &:link,
    &:visited {
      position: absolute;
      display: inline-block;
      font-size: 3rem;
      color: black;
      top: 2.5rem;
      right: 2.5rem;
      line-height: 1;
      text-decoration: none;
      transition: all 0.3s;
    }
    &:hover,
    &:active {
      color: $primary-color;
      transform: rotate(90deg) scale(1.3);
    }
  }
  &:target &-content{
    opacity: 1;
    transform: translate(-50% , -50%) scale(1);
  }
}
