.features {
  margin: 15rem 0;
  //   background-color: $color-grey-light-2;
  grid-column: center-start / center-end;
  display: grid;
//   grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
  gap: 6rem;
  align-items: start;
}
.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 1.5rem;
  &-icon {
    height: 4.5rem;
    width: 4.5rem;
    fill: $color-primary;
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }
  &-text {
    font-size: 1.7rem;
  }
}
