.homes {
  //   background-color: $color-secondary;
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
}
.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;
  background-color: $color-grey-light-1;
  &-img {
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
  }
  &-like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    fill: $color-primary;
    height: 2.5rem;
    width: 2.5rem;
    justify-self: end;
    margin: 1rem;
    z-index: 2;
  }
  &-name {
    grid-column: 1 / -1;
    grid-row: 1/2;
    width: 80%;
    font-family: $font-display;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: $color-secondary;
    color: #fff;
    font-weight: 400;
    z-index: 3;
    align-self: end;
    justify-self: center;
    transform: translateY(50%);
  }
  &-location,
  &-rooms {
    margin-top: 2.5rem;
  }
  &-location,
  &-rooms,
  &-area,
  &-price {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    margin-left: 2rem;
    svg {
      height: 2rem;
      width: 2rem;
      fill: $color-primary;
      margin-right: 1rem;
    }
  }
  &-btn {
    grid-column: 1 / -1;
  }
}
