$primary-color: #55c57a;
$primary-color-light: #7ed56f;
$primary-color-dark: #28b485;
$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7730;
$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;
$grey-color: #777;
$white-color: #fff;
$black-color: #000;
$grey-light-color: #f7f7f7;
$font-family: "Lato", sans-serif;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
