/* challange 1 */
/* body {
  font-family: sans-serif;
  line-height: 1.4;
}
.product {
  border: 6px solid black;
}
.product-title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  background-color: antiquewhite;
}
.price {
  font-size: 28px;
}
.shipp {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}
.link:link,
.link:visited {
  color: black;
}
.link:hover,
.link:active {
  text-decoration: none;
}
.detail-list {
  list-style: square;
}
.detail-title {
  text-transform: uppercase;
  font-size: 16px;
}
.btn {
  background-color: black;
  color: #fff;
  font-size: 22px;
  text-transform: 22px;
  border: none;
  cursor: pointer;
}
.btn:hover {
  color: #000;
  background-color: #fffb;
} */
/* Challange 2*/
/* *{
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}
.product {
  border: 6px solid black;
  width: 825px;
  margin: 50px auto;
  border-bottom: 0;
}
.product-title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  background-color: antiquewhite;
  padding: 15px;
}
.price {
  font-size: 28px;
}
.shipp {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 15px;
}
.link:link,
.link:visited {
  color: black;
}
.link:hover,
.link:active {
  text-decoration: none;
}
.detail-list {
  list-style: square;
  margin-left: 20px;
}
.detail-list li{
  margin-bottom: 10px;
}
.detail-title {
  text-transform: uppercase;
  font-size: 16px;
  margin: 15px 0;
}
.btn {
  background-color: black;
  color: #fff;
  font-size: 22px;
  text-transform: 22px;
  border: none;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: 6px solid black;
  border-left: 0;
  border-right: 0;
}
.btn:hover {
  color: #000;
  background-color: #fffb;
} */
/*Challange 3*/
*{
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}
.product {
  border: 6px solid black;
  width: 825px;
  margin: 50px auto;
  border-bottom: 0;
  position: relative;
}
.product-title {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  background-color: antiquewhite;
  padding: 15px;
}
.price {
  font-size: 28px;
}
.shipp {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  margin-bottom: 15px;
}
.link:link,
.link:visited {
  color: black;
  margin-bottom: 20px;
  display: inline-block;
}
.link:hover,
.link:active {
  text-decoration: none;
}
.detail-list {
  list-style: square;
  margin-left: 20px;
}
.detail-list li{
  margin-bottom: 10px;
}
.detail-title {
  text-transform: uppercase;
  font-size: 16px;
  margin: 15px 0;
}
.btn {
  background-color: black;
  color: #fff;
  font-size: 22px;
  text-transform: 22px;
  border: none;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: 6px solid black;
  border-left: 0;
  border-right: 0;
}
.btn:hover {
  color: #000;
  background-color: #fffb;
}
.color{
  background-color: #000;
  height: 20px;
  width: 20px;
  display: inline-block;
  margin-right: 12px;
}
.color-blue{
  background-color:blue;
}
.color-yellow{
  background-color:yellow;
}
.color-green{
  background-color:green;
}
.color-red{
  background-color:red;
}
.color-brown{
  background-color:brown;
}

.sale{
  background-color: red;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  padding: 7px 15px;
  position: absolute;
  /* width: 40px; */
  /* text-align: center; */
  top: -20px;
  left: -30px;
  letter-spacing: 2px;
}
/* *{
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
li,
p {
  font-family: sans-serif;
}
h1,
h2,
h3 {
  color: aquamarine;
}
h1 {
  color: brown;
  font-size: 26px;

  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 30px;

  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1;
  margin-bottom: 40px;
}
li {
  font-size: 20px;
}
footer p {
  font-size: 16px;
}
#author {
  font-style: italic;
}
#copyright {
  font-size: 16px;
}
.class-author {
  font-size: 16px;
  font-weight: 600;
}
.related {
  list-style: none;
}
header {
  background-color: wheat;
  padding: 20px;
  margin-bottom: 40px;
  height: 200px;
}
.test {
  background-color: blue;
  margin-bottom: 60px;
}
aside {
  background-color: antiquewhite;
  border: 5px solid brown;
  padding: 30px;
  width: 200px;
}
li{
  margin: 10px;
}
.first-li {
  font-weight: bold;
}
li:first-child {
  color: blue;
}
li:last-child {
  color: red;
  margin-bottom: 0;
}
/* li:nth-child(odd) {
  color: orange;
} */
/* article p:first-child {
  font-size: 16px;
}
a:link {
  color: rgb(10, 104, 108);
}
a:visited {
  color: chocolate;
}
a:hover {
  text-decoration: underline;
  color: rebeccapurple;
  font-weight: bold;
}
ol,ul{
  margin-left: 60px;
}
.image{
  width: 10%;
  height: auto;
}
.container{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
nav a:link{
  background-color: blueviolet;
  display: inline-block;
  margin-right: 15px;
  margin-top: 10px;
}
nav a:link:last-child{
  margin-right: 0;
}
button{
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 20px;
}
h1::first-letter{
  font-style: normal;
  margin-right: 10px;
}
h2{
  background-color: aliceblue;
  position: relative;
}
h2::after{
  content: "TOP";
  background-color: yellowgreen;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top:-15px;
  right: -25px;
} */
/* h3 + p{
  background-color: brown;
} */
