* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus{
  outline: none;
  box-shadow: 0,0,0,0.8rem rgba(230, 125, 34, 0.5);
}
html {
  font-size: 62.5%;
}
body {
  font-family: "rubik", sans-serif;
  line-height: 1.5;
  /* background-color: red; */
  font-weight: 400;
  color: #555;
}
.header {
  background-color: #fdf2e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
}
.main-logo {
  height: 2.4rem;
}
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
  font-weight: 500;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  background-color: #e67e22;
  color: #fff;
  border-radius: 15px;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  padding: 3.2rem;
  align-items: center;
  gap: 9.6rem;
}
.heading-secondary,
.heading-primary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.7px;
  color: #333;
}
.heading-primary {
  font-size: 5.2rem;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.1;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
.hero-description {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}
.hero-img {
  width: 100%;
}
.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  display: inline-block;
  border-radius: 15px;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
}
.margin-right {
  margin-right: 1.6rem !important;
}
.margin-bottom {
  margin-bottom: 4.8rem !important;
}
.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn-full:hover,
.btn-full:active {
  background-color: #cf711f;
}
.btn-outline:link,
.btn-outline:visited {
  background-color: #fff;
  color: #555;
}
.btn-outline:hover,
.btn-outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
  /* border: 2px solid #fff; */
}
.delivered-meals {
  display: flex;
  margin-top: 8rem;
  align-items: center;
  gap: 1.6rem;
}
.delivered-customers {
  display: flex;
}
.customer-img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 2px solid #fdf2e9;
}
.customer-img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: #e67e22;
  font-weight: 750;
}
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
.heading_feature {
  letter-spacing: 0.75px;
  color: #999;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}
.container {
  margin: 0 auto;
  padding: 0 3.2rem;
  max-width: 120rem;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid-2c {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3c {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4c {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5c{
  grid-template-columns: repeat(5, 1fr);
}
.grid-center {
  align-items: center;
}
.section-how {
  padding: 9.6rem 0;
  /* background-color: orangered; */
}
.step-img {
  width: 50%;
}
.step-number {
  font-size: 8.6rem;
  color: #ddd;
  font-weight: 600;
  margin-bottom: 1.2rem;
}
.step-description {
  font-size: 2rem;
  line-height: 1.8;
}
.step-img {
  width: 35%;
}
.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img-box::before {
  background-color: #fdf2e9;
  width: 60%;
  padding-bottom: 60%;
  z-index: -2;
}
.step-img-box::after {
  background-color: #fae5d3;
  width: 50%;
  padding-bottom: 50%;
  z-index: -1;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.section-meals {
  padding: 9.6rem 0;
}
.meals {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.4s;
}
.meals:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.15);
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
.meal-tag {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}
.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  color: #333;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 100px;
}
.tag-Vegetarian {
  background-color: #51cf66;
}
.tag-Vegan {
  background-color: #94d82d;
}
.tag-Paleo {
  background-color: #ffd43b;
}
.center-text {
  text-align: center;
}
.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.meal-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #e67e22;
}
.meal-img {
  width: 100%;
}
strong {
  font-weight: 500;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  list-style: none;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
.link:link,
.link:visited {
  display: inline-block;
  padding-bottom: 2px;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}
.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}
.section-testimonials {
  display: grid;
  align-items: center;
  grid-template-columns: 55fr 45fr;
  background-color: #fdf2e9;
}
.testimonials-container {
  padding: 9.6rem;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}
.testimonial-img {
  width: 6.4rem;
  margin-bottom: 1.2rem;
  border-radius: 50%;
}
.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.7;
  margin-bottom: 1.6rem;
}
.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  width: 100%;
  display: block;
  transition: all 0.4s;
}
.gallery-item img:hover {
  transform: scale(1.1);
}
.section-pricing {
  padding: 9.6rem 0;
}
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
.pricing-plan {
  border-radius: 15px;
  width: 75%;
}
.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  color: #333;
}
.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}
.plan-btn {
  margin-top: 4.8rem;
  text-align: center;
}
.pricing-plan-starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}
.pricing-plan-complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  position: relative;
  overflow: hidden;
}
.pricing-plan-complete::after {
  content: "best offer";
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  top: 6%;
  right: -18%;
  position: absolute;
  background-color: #ffd43b;
  color: #333;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}
.plan-cancel {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 3.6rem;
}
.feature {
  text-align: center;
}
.feature-title {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
  font-weight: 700;
  color: #333;
}
.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
.feature-icon {
  color: #e67e22;
  height: 2.4rem;
  width: 2.4rem;
  margin-bottom: 3.2rem;
  background-color: #fae5d3;
  padding: 1.8rem;
  border-radius: 50%;
}
.section-cta {
  padding: 4.8rem  0 12.8rem 0;
}
.cta {
  /* height: 50rem; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 15px;
  background-image: linear-gradient(to right bottom, #f3bf91, #e67e22);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem  6.4rem;
  color: #45260a;
}
.cta .heading-secondary{
  color: #45260a; 
  margin-bottom: 3.2rem;
}
.cta-text{
  line-height: 1.8;
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(243, 191, 145, 0.2),
      rgba(230, 125, 34, 0.2)
    ),
    url("../img/eating.jpg");
  background-size: cover;
}
.cta-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label{
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  display: block;
}
.cta-form input,
.cta-form select{
  font-size: 1.8rem;
  padding: 1.2rem;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
  background-color: #fae5d3;
  font-family: inherit;
  color: inherit;
}
.cta-form input::placeholder{
  color: #aaa;
}
.btn-form{
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
  transition: all 0.4s;
}
.btn-form:hover{
  background-color: #fff;
  color: #555;
}
.cta *:focus{
  outline: none;
  box-shadow: 0,0,0,0.8rem rgba(253, 242, 233, 0.5);
}
.grid-footer{
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
footer{
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}
.social{
  list-style: none;
  display: flex;
  gap: 3.2rem;
}
.footer-icon{
  height: 2.4rem;
  width: 2.4rem;
}
.logo-column{
  display: flex;
  flex-direction: column;
}
.copyright{
  font-size: 1.4rem;
  color: #767676;
  margin-top: auto;
  line-height: 1.6;
}
.footer-heading{
  font-size: 1.8rem;
  margin-bottom: 3.8rem;
  font-weight: 500;
}
.footer-nav{
  border: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  list-style: none;
}
.contacts{
  font-size: 1.6rem;
  line-height: 1.6;
  font-style: normal;
}
.pp{
  margin-bottom: 2.4rem;
}
.footer-link:link,
.footer-link:visited{
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}
.footer-link:hover,
.footer-link:active{
  color: #555;
}
